<table border="1" cellpadding="6" cellspacing="0">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    {% for ingredient in ingredients %}
    <tr>
        <td>
            <a href="{% url 'optimizer_ui:ingredient_nutrient_matrix' ingredient.id %}">
                {{ ingredient.name }}
            </a>
        </td>

        <td>{{ ingredient.description }}</td>

        <td>
            <a href="{% url 'optimizer_ui:ingredient_master_update' ingredient.id %}">
                Edit
            </a>
            |
            <a href="{% url 'optimizer_ui:ingredient_master_delete' ingredient.id %}">
                Delete
            </a>
        </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="3">No ingredients added.</td>
    </tr>
    {% endfor %}
</table>